<main class="main">
    <section class="wrapper">
        <div class="wrapper__header">
            <h1 class="wrapper__title">¿Olvidaste tu contraseña?</h1>
            <p class="wrapper__description">Por favor ingrese su usuario y al correo asociado le enviaremos un enlace
                para restablecer su contraseña.</p>
        </div>
        <form class="wrapper__body">
            <div class="row row--input">
                <label for="">Usuario</label>
                <input class="input" type="text" name="user" id="user">
            </div>
            <div class="row">
                <button class="button" type="submit">Enviar correo</button>

            </div>
            <div class="row">
                <a class="button button--secondary" href="/">Volver</a>

            </div>
        </form>
    </section>
</main>