<main class="main">


    <section class="wrapper">
        <div class="wrapper__header">
            <h1 class="wrapper__title">Bienvenido a LogPanel</h1>
            <p class="wrapper__subtitle">Tu panel de administracion</p>
        </div>
        <form class="wrapper__body">
                <div class="row row--input">
                    <label for="user">Usuario</label>
                    <input class="input" type="text" name="user" id="user">
                </div>
                <div class="row row--input">
                    <label for="email">Correo</label>
                    <input class="input" type="text" name="email" id="email">
                </div>
                <div class="row row--input">
                    <label for="pwd">Contraseña</label>
                    <input class="input" type="password" name="pwd" id="pwd">
                </div>
                <div class="row row--input">
                    <label for="pwd-repeat">Repetir contraseña</label>
                    <input class="input" type="password" name="pwd-repeat" id="pwd-repeat">
                </div>
                <div class="row">
                    <button class="button" type="submit">Registrar</button>

                </div>

        </form>
        <div class="wrapper__footer">
            <div class="row row--center">
                <span>
                    ¿Ya tienes cuenta? <a class="link" href="/">Inicia sesion</a>
                </span>
            </div>
        </div>
    </section>


</main>