*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-base);
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: flex;
    color: var(--zinc-700);
    font-weight: var(--medium);
    letter-spacing: 0.2px;
    font-size: var(--sm);
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

img {
    width: 100%;
}